<div class="row">
  <div class="large-6 columns">
    <%= form_for(@needy_person) do |f| %>
    <% if @needy_person.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@needy_person.errors.count, "error") %> prohibited this needy_person from being saved:</h2>

        <ul>
        <% @needy_person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :age %><br>
      <%= f.number_field :age %>
    </div>
    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_field :address %>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :organization %><br>
      <%= f.text_field :organization %>
    </div>
    <div class="field">
      <%= f.label :comments %><br>
      <%= f.text_area :comments %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  </div>
</div>
